.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.button-add {
    margin-bottom: 20px;
}
.roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-header h3 {
    margin: 0;
}

.p-button-success {
    margin-left: auto;
}

.p-dialog .p-fluid .p-field {
    margin-bottom: 1rem;
}
.table-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
}

.table-header h3 {
    margin: 0; /* Elimina el margen del título si es necesario */
}

.table-header .p-button-success {
    margin-top: 10px; /* Ajusta el margen superior para separar el botón del título */
}
